libvirt-python
pexpect
pyliblzma
pyOpenSSL
pysnmp >= 4.2.3
bugzilla >= 0.8.0
configobj >= 4.7.2
pycrypto >= 2.6
python-dateutil
python-foreman
futures
setuptools
jira
kerberos
lockfile
lxml
netaddr
paramiko >= 1.15.2
repoze.lru >= 0.6
python-rrmngmnt
python-otopi-mdp
unittest2
pywinrm
PyYAML
winremote
pytest >= 2.8.7
pytest-xdist
pytest-html
pytest-ordering
# WA: https://github.com/eisensheng/pytest-catchlog/issues/55
git+git://github.com/rhevm-qe-automation/pytest-catchlog.git@junit_compatibility_fix
# pytest-marker-bugzilla
git+git://github.com/rhevm-qe-automation/pytest-marker-bugzilla.git
uritemplate
ovirt-engine-sdk-python
