<html>
<head>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart", "table"]});
google.setOnLoadCallback(drawChart);
function drawChart() {
    '{% for key, val in data.iteritems() %}'
        var data = google.visualization.arrayToDataTable({{ val.all }});
        var options = {title: 'Host resources measurements: {{ key }}',
                       hAxis: {title: 'Time'},
                       vAxis: {minValue: 0}
        };
        var chart_area = new google.visualization.AreaChart(document.getElementById('chart_{{ key }}'));
        chart_area.draw(data, options);
        var tbl_data = google.visualization.arrayToDataTable({{ val.avg }});
        var tbl = new google.visualization.Table(document.getElementById('tbl_{{ key }}'));
        tbl.draw(tbl_data, {title: 'Average values'});
    '{% endfor %}';
}
</script>
</head>
<body>
<div>&nbsp;</div>
<h2>&nbsp;&nbsp;{{ title }}</h2>
<div>&nbsp;</div>
<div>&nbsp;</div>
<h3>&nbsp;&nbsp;CPU average values</h3>
<div>&nbsp;</div>
<div id="tbl_CPU"></div>
<div id="chart_CPU" style="width: 1200px; height: 800px;"></div>
<div>&nbsp;</div>
<h3>&nbsp;&nbsp;IO average values</h3>
<div>&nbsp;</div>
<div id="tbl_IO"></div>
<div id="chart_IO" style="width: 1200px; height: 800px;"></div>
<div>&nbsp;</div>
<h3>&nbsp;&nbsp;Memory average values</h3>
<div>&nbsp;</div>
<div id="tbl_MEMORY"></div>
<div id="chart_MEMORY" style="width: 1200px; height: 800px;"></div>
<div>&nbsp;</div>
<h3>&nbsp;&nbsp;Network average values</h3>
<div>&nbsp;</div>
<div id="tbl_NETWORK"></div>
<div id="chart_NETWORK" style="width: 1200px; height: 800px;"></div>
</body>
</html>
